In [1]:
import pandas as pd
file = "NYPD DATA.csv"

In [3]:
db = pd.read_csv(file)
db.head()

,ID,Boroughs,Boroughs_ID,Crime_Category,Crime_Sub_Category,Crime_Location,Date
0,1,BROOKLYN,1.0,MISDEMEANOR,"WEAPONS, POSSESSION, ETC",STREET,3/31/2018
1,2,STATEN ISLAND,5.0,FELONY,RAPE 2,RESIDENCE - PUBLIC HOUSING,3/31/2018
2,3,QUEENS,4.0,MISDEMEANOR,AGGRAVATED HARASSMENT 2,RESIDENCE-HOUSE,3/31/2018
3,4,QUEENS,4.0,FELONY,"ROBBERY,DELIVERY PERSON",RESIDENCE - APT. HOUSE,3/31/2018
4,5,BROOKLYN,1.0,VIOLATION,"HARASSMENT,SUBD 3,4,5",RESIDENCE - PUBLIC HOUSING,3/31/2018