In [1]:
import pandas as pd
import numpy as np
file = "NYPD DATA.csv"

In [2]:
db = pd.read_csv(file)
db.head()

,ID,Boroughs,Boroughs_ID,Crime_Category,Crime_Sub_Category,Crime_Location,Date
0,1,BROOKLYN,1.0,MISDEMEANOR,"WEAPONS, POSSESSION, ETC",STREET,3/31/2018
1,2,STATEN ISLAND,5.0,FELONY,RAPE 2,RESIDENCE - PUBLIC HOUSING,3/31/2018
2,3,QUEENS,4.0,MISDEMEANOR,AGGRAVATED HARASSMENT 2,RESIDENCE-HOUSE,3/31/2018
3,4,QUEENS,4.0,FELONY,"ROBBERY,DELIVERY PERSON",RESIDENCE - APT. HOUSE,3/31/2018
4,5,BROOKLYN,1.0,VIOLATION,"HARASSMENT,SUBD 3,4,5",RESIDENCE - PUBLIC HOUSING,3/31/2018

In [3]:
airbnb_file = "listings_summary.csv"
airbnb_db = pd.read_csv(airbnb_file)
airbnb_db.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,18461891,"Bright, comfortable 1B studio near everything!",916092,Connie Mae,Queens,Ditmars Steinway,40.774142,-73.916246,Entire home/apt,110,6,0,NaN,NaN,1,0
1,20702398,Quiet house on City Island,1457680,James,Bronx,City Island,40.849191,-73.786509,Private room,50,1,2,10/1/2017,2.00,1,169
2,6627449,Large 1 BDRM in Great location,13886510,Arlene,Bronx,City Island,40.849775,-73.786609,Entire home/apt,125,3,21,9/26/2017,0.77,1,363
3,19949243,Stay aboard a sailboat,1149260,MoMo,Bronx,City Island,40.848838,-73.782276,Entire home/apt,100,3,0,NaN,NaN,1,90
4,1886820,Quaint City Island Community.,9815788,Steve,Bronx,City Island,40.841144,-73.783052,Entire home/apt,300,7,0,NaN,NaN,1,365

In [4]:
airbnb_db = airbnb_db.drop(columns=["latitude", "longitude", "calculated_host_listings_count", "minimum_nights", "room_type"])
airbnb_db = airbnb_db.dropna()
airbnb_db = airbnb_db.rename(columns = {"neighbourhood_group": "Boroughs"})

In [5]:
airbnb_db.head()

,id,name,host_id,host_name,Boroughs,neighbourhood,price,number_of_reviews,last_review,reviews_per_month,availability_365
1,20702398,Quiet house on City Island,1457680,James,Bronx,City Island,50,2,10/1/2017,2.00,169
2,6627449,Large 1 BDRM in Great location,13886510,Arlene,Bronx,City Island,125,21,9/26/2017,0.77,363
5,5557381,Quaint City Island Home,28811542,Phoebe,Bronx,City Island,69,94,7/31/2017,3.27,325
6,19609887,Sweet Getaway,137892083,Gladis,Bronx,City Island,150,3,9/24/2017,1.58,74
7,7949480,City Island Sanctuary BR & Private Bath w Parking,119445,Linda & Didier,Bronx,City Island,101,31,9/1/2017,1.49,179

In [6]:
airbnb_db = airbnb_db.rename(columns = {"id": "listing_id"})
airbnb_db = airbnb

NameError: name 'airbnb' is not defined

In [7]:
airbnb_db ["Boroughs_ID"] = np.where(airbnb_db["Boroughs"]=="Bronx", '2.0', 
                            np.where(airbnb_db["Boroughs"]=="Queens", '4.0',
                            np.where(airbnb_db["Boroughs"]=="Brooklyn", '1.0',
                            np.where(airbnb_db["Boroughs"]=="Manhattan", '3.0',
                            np.where(airbnb_db["Boroughs"]=="Staten Island", '5.0', "0")))))

In [8]:
airbnb_db

,listing_id,name,host_id,host_name,Boroughs,neighbourhood,price,number_of_reviews,last_review,reviews_per_month,availability_365,Boroughs_ID
1,20702398,Quiet house on City Island,1457680,James,Bronx,City Island,50,2,10/1/2017,2.00,169,2.0
2,6627449,Large 1 BDRM in Great location,13886510,Arlene,Bronx,City Island,125,21,9/26/2017,0.77,363,2.0
5,5557381,Quaint City Island Home,28811542,Phoebe,Bronx,City Island,69,94,7/31/2017,3.27,325,2.0
6,19609887,Sweet Getaway,137892083,Gladis,Bronx,City Island,150,3,9/24/2017,1.58,74,2.0
7,7949480,City Island Sanctuary BR & Private Bath w Parking,119445,Linda & Didier,Bronx,City Island,101,31,9/1/2017,1.49,179,2.0
10,9147025,Cozy City Island Cottage,403032,Diane,Bronx,City Island,125,60,10/1/2017,2.78,137,2.0
11,1936633,Great 1BD waterfront City Island NY,10018391,Alex,Bronx,City Island,115,49,5/23/2017,1.09,0,2.0
12,19758402,Autumn getaway -House near beach & woodland tr...,139415761,Deb,Bronx,City Island,62,9,9/25/2017,3.70,79,2.0
13,11675715,Cozy 1 BR Basement Apartment,56714504,Josue,Bronx,City Island,85,110,9/11/2017,5.88,332,2.0
14,3400359,Awesome Deal NYC,16286162,Pat,Bronx,Allerton,44,72,9/21/2017,1.82,339,2.0
15,4407790,Retreat Room,16286162,Pat,Bronx,Allerton,47,35,5/5/2017,0.98,130,2.0
16,715270,2 Beds/Queen & Full Beautiful Room 40 minsT.Sq...,3684360,Enrique,Bronx,Allerton,39,131,9/15/2017,2.17,354,2.0
17,18852048,"Clean, spacious and comfortable room at Bronx",108922928,Zeeshan,Bronx,Allerton,49,1,6/1/2017,0.24,0,2.0
18,759901,GREAT PRICE for GREAT GUESTS ONLY,873273,Christian & Carla,Bronx,Allerton,85,33,3/31/2017,0.56,337,2.0
19,13864221,"Live, Love, Stay in the Bronx!",3213737,Vernise,Bronx,Allerton,50,5,9/27/2016,0.36,0,2.0
20,12496118,Entire Home in NYC- 1 bedroom,11305944,Yahaira,Bronx,Allerton,105,27,9/16/2017,1.56,47,2.0
21,13109017,Large Private Room! w. Lock,72871708,Sammy,Bronx,Allerton,45,9,9/24/2017,0.56,360,2.0
22,9513511,"Beautiful, spacious & sunny bedroom!",49293611,Gloria,Bronx,Allerton,70,5,9/29/2017,0.33,364,2.0
24,10801360,Studio near BX Botanical Garden,4149899,Salam,Bronx,Allerton,90,1,9/7/2016,0.08,365,2.0
25,8294259,Room in Private House(Queen Bed) by Montefiore...,11305944,Yahaira,Bronx,Allerton,63,23,9/2/2017,0.93,66,2.0
26,182177,PRIVATE FLAT / APARTMENT- $SPECIAL$,873273,Christian & Carla,Bronx,Allerton,125,224,10/2/2017,3.02,330,2.0
27,17876530,Spacious Garden Apartment,11305944,Yahaira,Bronx,Allerton,110,22,9/22/2017,3.73,170,2.0
28,5046189,Bellissima!,23732730,Buddy,Bronx,Allerton,200,38,9/4/2017,1.19,351,2.0
29,773041,Nice beautiful room In the Bronx,3684360,Enrique,Bronx,Allerton,38,93,8/26/2017,1.59,327,2.0
30,755528,PRIVATE BATH/TONS OF SUNLIGHT/SAFE,3684360,Enrique,Bronx,Allerton,49,108,9/17/2017,1.80,293,2.0
31,3429765,Sunny Private Room,16286162,Pat,Bronx,Allerton,43,66,8/25/2017,1.77,276,2.0
32,9331257,Convenient couch to crash on in BX,4149899,Salam,Bronx,Allerton,35,8,7/30/2016,0.36,365,2.0
33,5647069,THE SINGLE ROOM by F&J,873273,Christian & Carla,Bronx,Allerton,85,4,9/9/2017,0.13,337,2.0
34,4462008,Twin room,16286162,Pat,Bronx,Allerton,44,75,9/24/2017,2.33,339,2.0
35,20449125,A Perfect NYC Getaway. Clean & Spacious. Near ...,10725461,Jimmy,Bronx,Allerton,109,5,9/28/2017,4.05,122,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
44264,20711342,Great Location - Bedford Bedroom,6520264,Mark,Brooklyn,Williamsburg,75,1,9/21/2017,1.00,0,1.0
44265,19007359,Massive Sun-Filled Loft in Prime Williamsburg,21657100,Jourdan,Brooklyn,Williamsburg,185,11,9/25/2017,3.08,95,1.0
44266,16497949,Beautiful and cozy room in quiet Williamsburg,9971103,Louis,Brooklyn,Williamsburg,49,3,6/29/2017,0.33,0,1.0
44267,20581096,"East Williamsburg _ Gorgeous, Modern 1BR",2782377,Veronique,Brooklyn,Williamsburg,145,2,9/12/2017,1.87,101,1.0
44269,5507784,Bushwick Artist Loft,1924825,Gilad,Brooklyn,Williamsburg,120,8,2/1/2017,0.26,331,1.0
44271,19139244,Great Loft in an Old Linen Factory,30508279,Deborah,Brooklyn,Williamsburg,99,2,9/8/2017,0.95,113,1.0
44272,18221723,"Spacious Apt w Deck, Williamsburg",3591955,Charles,Brooklyn,Williamsburg,265,6,9/18/2017,1.42,55,1.0
44273,18877051,Stylish & Airy Flat in the Heart of Williamsburg,115722395,Taj,Brooklyn,Williamsburg,140,5,9/23/2017,2.31,314,1.0
44275,19924708,Peaceful space in the heart of Williamsburg,6472916,Nicole,Brooklyn,Williamsburg,149,2,8/23/2017,1.33,0,1.0
44276,1312913,Huge Family Oasis in top location,7134391,Charlotte,Brooklyn,Williamsburg,735,33,7/5/2017,0.64,344,1.0
44278,13371473,Cozy Bedroom in Spacious Apt in East Williamsburg,185394,Gregory,Brooklyn,Williamsburg,75,2,6/27/2016,0.13,0,1.0
44279,16275122,Cozy 2 bedroom in Williamsburg - Prime Location!,336038,Marine,Brooklyn,Williamsburg,175,7,9/4/2017,0.76,8,1.0
44280,9415426,Your Perfect Williamsburg Sublet,344453,Richard,Brooklyn,Williamsburg,105,8,7/30/2017,0.36,0,1.0
44281,8986585,Williamsburg Two Bedroom/Two Bath,46946480,Danielle,Brooklyn,Williamsburg,150,43,6/12/2017,1.86,44,1.0
44282,6684697,"Modern Williamsburg apt w/Gym, Roof",315082,Nicholas,Brooklyn,Williamsburg,125,20,5/7/2017,0.71,0,1.0
44283,15205941,Private Williamsburg Bedroom - 4 min to L train,8774512,Matthew,Brooklyn,Williamsburg,120,28,9/21/2017,2.31,147,1.0
44284,656946,Master Bedroom in Heart of Williamsburg,3309931,Wylie,Brooklyn,Williamsburg,100,37,9/4/2017,1.36,0,1.0
44285,16123440,Charming apartment with private roofdeck,5733298,Hugo,Brooklyn,Williamsburg,89,2,1/3/2017,0.22,55,1.0
44287,13895156,in the heart of williamsburg,2609335,Roei,Brooklyn,Williamsburg,300,2,9/26/2016,0.14,364,1.0
44288,9831813,"5-Stars FREE iPhone, Wine BEST Location/Large ...",4244812,Mike,Brooklyn,Williamsburg,69,36,4/6/2017,1.68,212,1.0
44289,3278530,Private room in Williamsburg apt,16572580,Travis,Brooklyn,Williamsburg,60,6,9/6/2017,0.37,0,1.0
44292,132695,Perfect Williamsburg Summer Haven,507186,Holly,Brooklyn,Williamsburg,125,15,6/6/2016,0.20,0,1.0
44293,13762797,Modern duplex in the heart of Williamsburg,70164346,Laura,Brooklyn,Williamsburg,100,21,4/30/2017,1.49,78,1.0
44295,20212233,"Nice, Clean bedroom 45 mins to Midtown Manhattan",3684360,Enrique,Bronx,Allerton,45,3,9/10/2017,1.67,87,2.0
44301,20417586,Atlantic Beach Paradise,74830306,John,Queens,Far Rockaway,300,2,9/24/2017,2.00,74,4.0
44305,20254204,Inviting and Comfortable,15032720,Annette,Manhattan,Harlem,125,3,8/29/2017,1.64,274,3.0
44307,3928270,A private big studio,6001762,Ajang,Brooklyn,Brooklyn Heights,100,2,11/30/2014,0.05,336,1.0
44311,13234041,Furn 1 Room in 2 BedRm Cozy Cottage near NYC,59176171,Dona,Bronx,Wakefield,48,7,9/14/2017,0.76,86,2.0
44312,20530309,Paradise,146582556,Michael,Brooklyn,Flatlands,90,1,8/27/2017,0.81,365,1.0
44314,4287386,"Private Beach Luxury Apartment. Close to JFK,F...",22257678,Vik,Queens,Rockaway Beach,91,6,9/24/2017,3.91,336,4.0

In [9]:
airbnb_db.dtypes

listing_id             int64
name                  object
host_id                int64
host_name             object
Boroughs              object
neighbourhood         object
price                  int64
number_of_reviews      int64
last_review           object
reviews_per_month    float64
availability_365       int64
Boroughs_ID           object
dtype: object

In [10]:
airbnb_db["Boroughs_ID"] = airbnb_db ["Boroughs_ID"].astype(float)
airbnb_db["price"] = airbnb_db ["price"].map("${:,.0f}".format)
airbnb_db.head()

,listing_id,name,host_id,host_name,Boroughs,neighbourhood,price,number_of_reviews,last_review,reviews_per_month,availability_365,Boroughs_ID
1,20702398,Quiet house on City Island,1457680,James,Bronx,City Island,$50,2,10/1/2017,2.00,169,2.0
2,6627449,Large 1 BDRM in Great location,13886510,Arlene,Bronx,City Island,$125,21,9/26/2017,0.77,363,2.0
5,5557381,Quaint City Island Home,28811542,Phoebe,Bronx,City Island,$69,94,7/31/2017,3.27,325,2.0
6,19609887,Sweet Getaway,137892083,Gladis,Bronx,City Island,$150,3,9/24/2017,1.58,74,2.0
7,7949480,City Island Sanctuary BR & Private Bath w Parking,119445,Linda & Didier,Bronx,City Island,$101,31,9/1/2017,1.49,179,2.0

In [12]:
crime_airbnb = pd.merge(airbnb_db, db, how = "inner", on = "Boroughs")
crime_airbnb

Empty DataFrame
Columns: [listing_id, name, host_id, host_name, Boroughs, neighbourhood, price, number_of_reviews, last_review, reviews_per_month, availability_365, Boroughs_ID_x, ID, Boroughs_ID_y, Crime_Category, Crime_Sub_Category, Crime_Location, Date]
Index: []