## ETL Project Report

### Logic

This dataset collection provides information that can be used to make informed decisions relating to a safe, entertaining and convenient stay at an Airbnb in any New York City borough.  By joining Airbnb, Data.gov and Yelp datasets, the end user is provided with information that they can use for analysis and decision making, relating to not only Airbnb prices, listings, and reviews, but area crime.  Information is also provided about area restaurants, entertainment and services that can also be used for analysis.  

## The ETL Process

### (E)xtract

Data was extracted from three sources:

Kaggle, Data.gov and Yelp

Kaggle’s "Airbnb Open Data in NYC" dataset, was used, which included CSV files that provided listing summaries, neighborhood information, and reviews of New York City Airbnb’s.  Data.gov provided crime information in CSV format.  Yelp was scraped in order to collect information on restaurants, entertainment, and services in the same New York City boroughs that were used in the Airbnb and Data.gov crime datasets: Brooklyn, Bronx, Manhattan, Queens and Staten Island.

### (T)ransform

CSV files provided on Kaggle and Data.gov required cleaning and joining.  Dev tools, MySQL and Pandas were used for that process.  Table columns were dropped, renamed, or reformatted if necessary for ease of use.  CSV’s were filtered by borough for joining and to establish the relationship between tables.  Data scraped from Yelp was converted into a dataframe, and loaded into a CSV.  This data was also cleaned, joined reformatted, and filtered according to borough, which was used as the primary key for all datasets.  

### (L)oad

The relational database MySQL was used to load our data, but we found that process difficult to execute because the data import process was extremely slow.  Consequently, Pandas to was used to clean and load our data.

### Production Database Final Tables

The final data table was created through a series of joins on the primary key "Borough".  It includes information that would allow the end user to efficiently analyze Airbnb data and also have access to crime information on the borough that they chose all in the same place.  Tables used included information about nearby restaurants, entertainment and services in order to provide a detailed picture of the Airbnb location as it relates to safety, entertainment and convenience.  

The final table joined by Borough includes the Borough itself, a Borough ID, Airbnb Average Price and Reviews, Total Crime, including Misdeameanors, Violations, and Felonies, Nightlife Venues, Restaurants, and Entertainment, as well as Average Reviews for Nightlife, Restaurants and Entertainment. 

SQL Alchemy was used to import the data into MySQL.  A chunksize of 5000 was used for ease of import.  We chose MySQL because we felt that tables could be easily manipulated in this database.

,Boroughs,Boroughs_ID,Average_Price,Reviews,Total Crime,Misdeameanors,Violations,Felony,Nightlife_Venues,Restaurants,Entertainments,Nightlife Avg Review,Restaurants Avg Review,Entertainment Avg Review
0,Bronx,2,$70.20,13418,24320,14088,3927,6305,6,240,80,4.500000,4.133333,4.20
1,Brooklyn,1,$117.66,319378,32222,17338,4762,10122,240,240,80,4.350000,4.316667,4.25
2,Manhattan,3,$176.25,373163,27445,15601,3281,8563,21,240,80,4.238095,4.133333,4.35
3,Queens,4,$96.02,87084,20653,10873,3269,6511,240,240,80,4.050000,4.266667,4.30
4,Staten Island,5,$93.24,6194,4843,2685,1022,1136,28,30,10,4.214286,4.216667,4.25